body{
    background-color: rgb(171, 189, 248);
}
.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
.block {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    font-size: 20px;
}
.text{
    width: 200px;
    height: 25px;
}
.table {
    display:none;
    font-size: 20px;
}

.but{
    height:30px;
    width:150px;
}

